{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% macro container(breakpoint) %}
{% apply spaceless %}
    {% set containerGridOptions =
        {
            'small':             'sm',
            'medium':            'md',
            'large':             'lg',
            'extra large':       'xl',
            'extra extra large': 'xxl',
            'fluid':             'fluid'
         }
    %}
    {% if breakpoint not in containerGridOptions|keys %}
        container
    {% else %}
        container-{{ containerGridOptions[breakpoint] }}
    {% endif %} 
{% endapply %}
{% endmacro %}
<div {{ include(template_from_string(attr.class([block.properties.class, _self.container(block.properties.breakpoint)]))) }}
    {{ include(template_from_string(attr.data(block.properties.data))) }}
    {{ include(template_from_string(attr.style(block.properties.style))) }}
    {{ include(template_from_string(attr.id(block.properties.id))) }}>
    {% for block in block.blocks %}
        {% if block.type in blocks|keys %}
            {% include blocks[block.type]['template'] %}
        {% endif %}
    {% endfor %}
</div>
