{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% set blockVisible = true %}
{% if arrays(block).has('properties.visible') %}
    {% if block.properties.visible is string %}
        {% set blockVisible = strings(block.properties.visible).toBoolean() %}
    {% else %}
        {% set blockVisible = block.properties.visible %}
    {% endif %}
{% endif %}
{% if blockVisible %}
    <div class="dropdown">
        <a class="dropdown-toggle dropdown-dots" data-bs-toggle="dropdown" aria-expanded="false">
            {{ icon('three-dots', 'bootstrap') }}
        </a>
        <ul class="dropdown-menu">
            {% for item in block.properties.items %}
            
                {% set itemVisible = true %}
                {% if arrays(item).has('visible') %}
                    {% if item.visible is string %}
                        {% set itemVisible = strings(item.visible).toBoolean() %}
                    {% else %}
                        {% set itemVisible = (item.visible == true) ? true : false %}
                    {% endif %}
                {% endif %}

                {% if itemVisible %}
                    <li>
                        <a {{ attr.class(['dropdown-item', 'd-flex', 'align-items-center', item.class]) }}
                                        {{ attr.id(item.id) }}
                                        {{ attr.href(item.href) }}
                                        {{ attr.data(item.data) }}
                                        {{ attr.style(item.style) }} 
                                        {{ attr.events(item.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                                                    'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                                                    'onkeydown', 'onblur']) }}>{% if item.icon %}<span class="pe-3 d-flex">{{ icon(item.icon.name, item.icon.set) }}</span> {% endif %}{{ item.value }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}