{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% set options = {1: __('admin_yes'), 0: __('admin_no')} %}
<div class="mb-3 {{ grid.col(properties.size, properties.grid) }}">
    <label for="{{ fieldID }}" class="form-label">{{ include(template_from_string(properties.title)) }}</label>
    <select class="form-control {{ properties.class }} js-select-routable"
            name="{{ fieldName }}"
            {% if properties.events %}
                {% for key, value in properties.events %}
                     {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                   'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                   'onkeydown', 'onblur'] %}
                         {{ key }} = "{{ value }}"
                     {% endif %}
                {% endfor %}
            {% endif %}>
        {% for key, value in options %}
            <option value="{{ key }}" {% if key == fieldValue %} selected="selected" {% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
    {% if properties.help %}
        <small>{{ include(template_from_string(properties.help)) }}</small>
    {% endif %}
</div>
