{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% set blockVisible = true %}
{% if arrays(block).has('properties.visible') %}
    {% if block.properties.visible is string %}
        {% set blockVisible = strings(block.properties.visible).toBoolean() %}
    {% else %}
        {% set blockVisible = block.properties.visible %}
    {% endif %}
{% endif %} 
{% if blockVisible %}
    {% if block.properties.label %}
        <label for="{{ block.properties.id }}" 
            {{ attr.class(['form-label', block.properties.label.class]) }}
            {{ attr.style(block.properties.label.style) }}>{{ block.properties.label.value }}</label>
    {% endif %} 
    <input type="password"
        {{ attr.id(block.properties.id) }}
        {{ attr.name(block.properties.name) }}
        {{ attr.value(block.properties.name, values, block.properties.value) }}
        {{ attr.data(block.properties.data) }}
        {{ attr.class(['form-control', block.properties.class]) }}
        {{ attr.style(block.properties.style) }}
        {{ attr.disabled(block.properties.disabled) }}
        {{ attr.readonly(block.properties.readonly) }}
        {{ attr.placeholder(block.properties.placeholder) }}
        {{ attr.events(block.properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                            'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                            'onkeydown', 'onblur']) }}
        {{ attr.validation(block.properties.validation) }}>
    {% if block.properties.validation.errorMessage %}
        <div class="invalid-feedback">
            {{ block.properties.validation.errorMessage }}
        </div>
    {% endif %}
    {% if block.properties.help %}
        <small>{{ block.properties.help }}</small>
    {% endif %}
{% endif %}