{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% if blueprint['workspace']['areas'][area]['form']['tabs'] %}
    <form action="{% if blueprint['workspace']['areas'][area]['form']['action'] %}{{ include(template_from_string(blueprint['workspace']['areas'][area]['form']['action'])) }}{% endif %}"
        method="{% if blueprint['workspace']['areas'][area]['form']['method'] %}{{ blueprint['workspace']['areas'][area]['form']['method'] }}{% else %}post{% endif %}"
        {% if blueprint['workspace']['areas'][area]['form']['id'] %}id="{{ blueprint['workspace']['areas'][area]['form']['id'] }}"{% endif %}
        {% if blueprint['workspace']['areas'][area]['form']['name'] %}name="{{ blueprint['workspace']['areas'][area]['form']['name'] }}"{% endif %}
        data-parsley-validate
        {% if blueprint['workspace']['areas'][area]['form']['events'] %}
            {% for key, value in blueprint['workspace']['areas'][area]['form']['events'] %}
                {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                'onkeydown', 'onblur', 'onreset', 'onsubmit'] %}
                    {{ key }} = "{{ value }}"
                {% endif %}
            {% endfor %}
        {% endif %}>
        {{ csrf() }}
        <ul class="nav nav-tabs mb-3" id="workspaceTab" role="tablist">
            {% for key, section in blueprint['workspace']['areas'][area]['form']['tabs'] %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if key == 'main' %}active{% endif %}"
                            id="{{ key }}-tab-link"
                            data-bs-toggle="tab"
                            data-bs-target="#{{ key }}-tab"
                            type="button"
                            role="tab"
                            aria-controls="{{ key }}-tab"
                            aria-selected="{% if key == 'main' %}true{% else %}false{% endif %}">{{ include(template_from_string(section.properties.title)) }}</button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="workspaceTabContent">
            {% for key, tab in blueprint['workspace']['areas'][area]['form']['tabs'] %}
                <div class="tab-pane {% if key == 'main' %}show active{% endif %}" id="{{ key }}-tab" role="tabpanel" aria-labelledby="{{ key }}-tab">
                    <div class="row {{ blueprint['workspace']['areas'][area]['form']['tabs'][key]['properties']['class'] }}"
                         {% if blueprint['workspace']['areas'][area]['form']['tabs'][key]['properties']['style'] %}style="{% for key, value in blueprint['workspace']['areas'][area]['form']['tabs'][key]['properties']['style'] %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"{% endif %}>       
                        {% for element, properties in blueprint['workspace']['areas'][area]['form']['tabs'][key]['blocks']  %}
                            {% set blockName = flextype.blueprints.getElementName(element, properties.name) %}
                            {% set blockID = flextype.blueprints.getElementID(element, properties.id) %}
                            {% set blockValue = flextype.blueprints.getElementValue(element, values, properties) %}
                            {% include "plugins/blueprints/blocks/blocks/blocks.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% elseif blueprint['workspace']['areas'][area]['form'] %}
    <form action="{% if blueprint['workspace']['areas'][area]['form']['action'] %}{{ include(template_from_string(blueprint['workspace']['areas'][area]['form']['action'])) }}{% endif %}"
        method="{% if blueprint['workspace']['areas'][area]['form']['method'] %}{{ blueprint['workspace']['areas'][area]['form']['method'] }}{% else %}post{% endif %}"
        {% if blueprint['workspace']['areas'][area]['form']['id'] %}id="{{ blueprint['workspace']['areas'][area]['form']['id'] }}"{% endif %}
        {% if blueprint['workspace']['areas'][area]['form']['name'] %}name="{{ blueprint['workspace']['areas'][area]['form']['name'] }}"{% endif %}
        data-parsley-validate
        {% if blueprint['workspace']['areas'][area]['form']['events'] %}
            {% for key, value in blueprint['workspace']['areas'][area]['form']['events'] %}
                {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                'onkeydown', 'onblur', 'onreset', 'onsubmit'] %}
                    {{ key }} = "{{ value }}"
                {% endif %}
            {% endfor %}
        {% endif %}>
        {{ csrf() }}
        <div {{ attr.class(['row', blueprint['workspace']['areas'][area]['properties']['class']]) }}
            {{ attr.style(blueprint['workspace']['areas'][area]['properties']['style']) }}>
            {% for element, properties in blueprint['workspace']['areas'][area]['form']['blocks'] %}
                {% set blockName = flextype.blueprints.getElementName(element, properties.name) %}
                {% set blockID = flextype.blueprints.getElementID(element, properties.id) %}
                {% set blockValue = flextype.blueprints.getElementValue(element, values, properties) %}
                {% include "plugins/blueprints/blocks/blocks/blocks.html" %}
            {% endfor %}
        </div>
    </form>
{% elseif blueprint['workspace']['areas'][area]['tabs'] %}
    <ul class="nav nav-tabs mb-3" id="workspaceTab" role="tablist">
        {% for key, section in blueprint['workspace']['areas'][area]['tabs'] %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if key == 'main' %}active{% endif %}"
                        id="{{ key }}-tab-link"
                        data-bs-toggle="tab"
                        data-bs-target="#{{ key }}-tab"
                        type="button"
                        role="tab"
                        aria-controls="{{ key }}-tab"
                        aria-selected="{% if key == 'main' %}true{% else %}false{% endif %}">{{ include(template_from_string(section.properties.title)) }}</button>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="workspaceTabContent">
        {% for key, tab in blueprint['workspace']['areas'][area]['tabs'] %}
            <div class="tab-pane {% if key == 'main' %}show active{% endif %}" id="{{ key }}-tab" role="tabpanel" aria-labelledby="{{ key }}-tab">
                <div {{ attr.class(['row', blueprint['workspace']['areas'][area]['tabs'][key]['properties']['class']]) }}
                    {{ attr.style(blueprint['workspace']['areas'][area]['tabs'][key]['properties']['style']) }}>       
                    {% for element, properties in blueprint['workspace']['areas'][area]['tabs'][key]['blocks']  %}
                        {% set blockName = flextype.blueprints.getElementName(element, element.name) %}
                        {% set blockID = flextype.blueprints.getElementID(element, element.id) %}
                        {% set blockValue = flextype.blueprints.getElementValue(element, values, properties) %}
                        {% include "plugins/blueprints/blocks/blocks/blocks.html" %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div {{ attr.class(['row', blueprint['workspace']['areas'][area]['properties']['class']]) }}
        {{ attr.style(blueprint['workspace']['areas'][area]['properties']['style']) }}>
        {% for element, properties in blueprint['workspace']['areas'][area]['blocks'] %}
            {% set blockName = flextype.blueprints.getElementName(element, properties.name) %}
            {% set blockID = flextype.blueprints.getElementID(element, properties.id) %}
            {% set blockValue = flextype.blueprints.getElementValue(element, values, properties) %}
            {% include "plugins/blueprints/blocks/blocks/blocks.html" %}
        {% endfor %}
    </div>
{% endif %}