{% set headingSize =
    {
        'huge':   '1',
        'large':  '2',
        'medium': '3',
        'small':  '4',
        'tiny':   '5',
     }
%}

{% set blocks =
    [
        'InputText',
        'InputEmail',
        'InputPassword',
        'InputTextarea',
        'InputHidden',
        'InputNumber',
        'InputDateTimePicker',
        'InputEditor',
        'InputTags',
        'InputSelect',
        'InputSelectRoutable',
        'InputSelectVisibility',
        'InputSelectTemplate',
        'InputSelectMedia',
        'Heading',
        'Html',
        'Divider'
    ]
%}

{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}

<div class="{{ grid.col(fieldset.size, fieldset.grid) }}">
    {% if blueprint.workspace.header %}
        <div class="header" {% if not blueprint.header.buttons %}style="display: block!important;"{% endif %}>
            <div class="header-title"><h1 class="{{ blueprint.header.class }}">{{ include(template_from_string(blueprint.header.title)) }}</h1></div>
            {% if blueprint.header.buttons %}<div class="header-buttons">{% include "plugins/blueprints/blocks/buttons.html" with {"buttons": blueprint.header.buttons} %}</div>{% endif %}
        </div>
    {% endif %}

    {% if blueprint.workspace.tabs %}
        {% include "plugins/blueprints/blocks/tabs-form.html" %}
    {% else %}
        {% include "plugins/blueprints/blocks/single-form.html" %}
    {% endif %}
</div>
