<form action="{% if blueprint.workspace.action %}{{ include(template_from_string(blueprint.workspace.action)) }}{% endif %}"
      method="{% if blueprint.workspace.method %}{{ blueprint.workspace.method }}{% else %}post{% endif %}"
      {% if blueprint.workspace.id %}id="{{ blueprint.workspace.id }}"{% endif %}
      {% if blueprint.workspace.name %}name="{{ blueprint.workspace.name }}"{% endif %}
      data-parsley-validate
      {% if blueprint.workspace.events %}
          {% for key, value in blueprint.workspace.events %}
               {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                             'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                             'onkeydown', 'onblur', 'onreset', 'onsubmit'] %}
                   {{ key }} = "{{ value }}"
               {% endif %}
          {% endfor %}
      {% endif %}>
    {{ csrf() }}
    <div class="row">
    {% for element, properties in blueprint.workspace.blocks  %}
        {% set fieldName = flextype.blueprints.getElementName(element) %}
        {% set fieldID = flextype.blueprints.getElementID(element) %}
        {% set fieldValue = flextype.blueprints.getElementValue(element, values, properties) %}
        {% include "plugins/blueprints/blocks/fields/fields.html" %}
    {% endfor %}
    </div>
    {% if blueprint.workspace.buttons %}
        <div class="mt-3">
            {% include "plugins/blueprints/blocks/buttons.html" with {"buttons": blueprint.workspace.buttons} %}
        </div>
    {% endif %}
</form>
