<form action="{% if blueprint.workspace.action %}{{ include(template_from_string(blueprint.workspace.action)) }}{% endif %}"
      method="{% if blueprint.workspace.method %}{{ blueprint.workspace.method }}{% else %}post{% endif %}"
      {% if blueprint.workspace.id %}id="{{ blueprint.workspace.id }}"{% endif %}
      {% if blueprint.workspace.name %}name="{{ blueprint.workspace.name }}"{% endif %}
      data-parsley-validate
      {% if blueprint.workspace.events %}
          {% for key, value in blueprint.workspace.events %}
               {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                             'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                             'onkeydown', 'onblur', 'onreset', 'onsubmit'] %}
                   {{ key }} = "{{ value }}"
               {% endif %}
          {% endfor %}
      {% endif %}>
    {{ csrf() }}
    <ul class="nav nav-tabs mb-3" id="workspaceTab" role="tablist">
        {% for key, section in blueprint.workspace.tabs %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if key == 'main' %}active{% endif %}"
                    id="{{ key }}-tab-link"
                    data-bs-toggle="tab"
                    data-bs-target="#{{ key }}-tab"
                    type="button"
                    role="tab"
                    aria-controls="{{ key }}-tab"
                    aria-selected="{% if key == 'main' %}true{% else %}false{% endif %}">{{ include(template_from_string(section.title)) }}</button>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="workspaceTabContent">
    {% for key, tab in blueprint.workspace.tabs %}
        <div class="tab-pane {% if key == 'main' %}show active{% endif %}" id="{{ key }}-tab" role="tabpanel" aria-labelledby="{{ key }}-tab">
            <div class="row">
                
                {% for element, properties in blueprint['workspace']['tabs'][key]['blocks']  %}

                    {% set field_name = flextype.blueprints.getElementName(element) %}
                    {% set field_id = flextype.blueprints.getElementID(element) %}
                    {% set field_value = flextype.blueprints.getElementValue(element, values, properties) %}

                    {% include "plugins/blueprints/blocks/blocks/blocks.html" %}

                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    {% if blueprint.workspace.buttons %}
        <div class="mt-3">
            {% include "plugins/blueprints/blocks/buttons.html" with {"buttons": blueprint.workspace.buttons} %}
        </div>
    {% endif %}
</form>
