{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% import "plugins/blueprints/blocks/macros/heading.html" as heading %}
<div class="mb-3 {{ grid.col(properties.layout.size, properties.layout.grid) }}">
    <h{{ heading.size(properties.properties.size ) }}
        id="{{ blockID }}"
        {% if properties.properties.class %}
            class="{{ properties.properties.class }}"
        {% endif %}
        {% if properties.style %}
            style="{% for key, value in properties.style %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"
        {% endif %}>{{ include(template_from_string(properties.title)) }}</h{{ heading.size(properties.properties.size ) }}>
</div>
