{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% set btnGroupSizes = {'large': 'btn-group-lg', 'small': 'btn-group-sm'} %}
{% set btnGroup = (block.properties.vertical == true) ? 'btn-group-vertical' : 'btn-group' %}
{% set blockVisible = true %}
{% if arrays(block).has('properties.visible') %}
    {% if block.properties.visible is string %}
        {% set blockVisible = strings(block.properties.visible).toBoolean() %}
    {% else %}
        {% set blockVisible = block.properties.visible %}
    {% endif %}
{% endif %}
{% if blockVisible %}
    <div role="group" {{ attr.id(block.properties.id) }}
        {{ attr.data(block.properties.data) }}
        {{ attr.style(block.properties.style) }}
        {{ attr.class([btnGroup, btnGroupSizes[block.properties.size], block.properties.class]) }}
        {{ attr.events(block.properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                            'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                            'onkeydown', 'onblur']) }}
                                            >
        {% for button in block.properties.buttons %}
            {% if button.type == 'Button' %}
                {% set buttonVisible = true %}
                {% if arrays(button).has('properties.visible') %}
                    {% if button.properties.visible is string %}
                        {% set buttonVisible = strings(button.properties.visible).toBoolean() %}
                    {% else %}
                        {% set buttonVisible = button.properties.visible %}
                    {% endif %}
                {% endif %}
                {% if buttonVisible %}
                    {% include "plugins/blueprints/blocks/blocks/Button/block.html" with {'block': button} %}
                {% endif %}
            {% endif %}
            {% if button.type == 'ButtonToggle' %}
                <div role="group" {{ attr.id(button.properties.id) }}
                    {{ attr.data(button.properties.data) }}
                    {{ attr.style(button.properties.style) }}
                    {{ attr.class([btnGroup, btnGroupSizes[block.properties.size], button.properties.class]) }}
                    {{ attr.events(button.properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                                        'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                                        'onkeydown', 'onblur']) }}
                                                        >
                    {% include "plugins/blueprints/blocks/blocks/Button/block.html" with {'block': arrays(button.properties.toggle)
                                                                                                    .set('properties.class', (button.properties.toggle.class) ? button.properties.toggle.class|merge('dropdown-toggle') : 'dropdown-toggle')
                                                                                                    .set('properties.data', (button.properties.toggle.data) ? button.properties.toggle.data|merge({'bs-toggle': 'dropdown'}) : {'bs-toggle': 'dropdown'})
                                                                                                    .toArray() } %}
                    <ul class="dropdown-menu">
                        {% for key, value in button.properties.items %}
                            {% set valueVisible = true %}
                            {% if arrays(value).has('properties.visible') %}
                                {% if value.properties.visible is string %}
                                    {% set valueVisible = strings(value.properties.visible).toBoolean() %}
                                {% else %}
                                    {% set valueVisible = value.properties.visible %}
                                {% endif %}
                            {% endif %}
                            {% if valueVisible %}
                                <li>
                                    <a {{ attr.class(['dropdown-item', 'd-flex', 'align-items-center', value.class]) }}
                                        {{ attr.id(value.id) }}
                                        {{ attr.href(value.href) }}
                                        {{ attr.data(value.data) }}
                                        {{ attr.style(value.style) }} 
                                        {{ attr.events(value.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                                                    'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                                                    'onkeydown', 'onblur']) }}>{% if value.icon %}<span class="dropdown-item-icon pe-3 d-flex">{{ icon(value.icon.name, value.icon.set) }}</span> {% endif %}{{ value.value }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}