{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% set blockVisible = true %}
{% if arrays(block).has('properties.visible') %}
    {% if block.properties.visible is string %}
        {% set blockVisible = strings(block.properties.visible).toBoolean() %}
    {% else %}
        {% set blockVisible = block.properties.visible %}
    {% endif %}
{% endif %}
{% if blockVisible %}
    <div {{ attr.class(['row', block.properties.class]) }} 
        {{ attr.data(block.properties.data) }}
        {{ attr.style(block.properties.style) }}>
        {% for block in block.blocks %}
            {% if block.type in blocks|keys %}
                {% include blocks[block.type]['template'] %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}