{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% if properties.layout %}
<div {{ attr.class([properties.layout.class, grid.col(properties.layout.size, properties.layout.grid)]) }}" 
    {{ attr.data(properties.layout.data) }}
    {{ attr.style(properties.layout.style) }}>
{% endif %}
    <img {{ attr.id((blockID) }}
        {{ attr.src((properties.properties.src) }}
        {{ attr.alt((properties.properties.alt) }}
        {{ attr.class(properties.properties.class) }}
        {{ attr.height(properties.properties.height) }}
        {{ attr.width(properties.properties.width) }}
        {{ attr.loading(properties.properties.loading) }}
        {{ attr.data(properties.properties.data) }}
        {{ attr.style(properties.properties.style) }}>
{% if properties.layout %}
</div>
{% endif %}