{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% set attr.value(block.properties.name, values, block.properties.value) = attr.value(block.properties.name, values, block.properties.value)|split(',') %}
{% if block.properties.label %}
<label for="{{ block.properties.id }}" 
        {{ include(template_from_string(attr.class(['form-label', block.properties.label.class]))) }}
        {{ include(template_from_string(attr.style(block.properties.label.style))) }}>{{ include(template_from_string(block.properties.label.title)) }}</label>
{% endif %}
<select data-name="{{ attr.name(block.properties.name) }}"
        multiple="multiple"
        {{ include(template_from_string(attr.class(['form-control', 'js-select-tags' block.properties.class]))) }}
        {{ include(template_from_string(attr.data(block.properties.data))) }}
        {{ include(template_from_string(attr.events(block.properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                            'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                            'onkeydown', 'onblur']))) }}>
    {% for key, value in attr.value(block.properties.name, values, block.properties.value) %}
        {% if value is not empty %}
            <option value="{{ value|trim }}" selected="selected">{{ value|trim }}</option>
        {% endif %}
    {% endfor %}
</select>
<input type="hidden" id="{{ block.properties.id }}" name="{{ attr.name(block.properties.name) }}" value="{{ attr.value(block.properties.name, values, block.properties.value)|join(',') }}">
{% if block.properties.help %}
    <small>{{ include(template_from_string(block.properties.help)) }}</small>
{% endif %}
