{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% set blockValue = blockValue|split(',') %}
{% if properties.layout %}
<div {{ attr.class([properties.layout.class, grid.col(properties.layout.size, properties.layout.grid)]) }}
    {{ attr.data(properties.layout.data) }}
    {{ attr.style(properties.layout.style) }}>
{% endif %}
    {% if properties.properties.label %}
    <label for="{{ blockID }}" 
            {{ attr.class(['form-label', properties.properties.label.class]) }}
            {{ attr.style(properties.properties.label.style) }}>{{ include(template_from_string(properties.properties.label.title)) }}</label>
    {% endif %}
    <select data-name="{{ blockName }}"
            multiple="multiple"
            {{ attr.class(['form-control', 'js-select-tags' properties.properties.class]) }}
            {{ attr.data(properties.properties.data) }}
            {{ attr.events(properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                                'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                                'onkeydown', 'onblur']) }}>
        {% for key, value in blockValue %}
            {% if value is not empty %}
                <option value="{{ value|trim }}" selected="selected">{{ value|trim }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="hidden" id="{{ blockID }}" name="{{ blockName }}" value="{{ blockValue|join(',') }}">
    {% if properties.properties.help %}
        <small>{{ include(template_from_string(properties.properties.help)) }}</small>
    {% endif %}
{% if properties.layout %}
</div>
{% endif %}