{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% set blockValue = blockValue|split(',') %}
<div class="{{ properties.layout.class }}
            {{ grid.col(properties.layout.size, properties.layout.grid) }}" 
            {% if properties.layout.style %}style="{% for key, value in properties.layout.style %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"{% endif %}>
    {% if properties.properties.label %}
        <label for="{{ blockID }}" 
                class="form-label {{ properties.properties.label.class }}"
                {% if properties.properties.label.style %}style="{% for key, value in properties.properties.label.style %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"{% endif %}>{{ include(template_from_string(properties.properties.label.title)) }}</label>
    {% endif %}
    <select class="form-control js-select-tags {{ properties.properties.class }}"
            data-name="{{ blockName }}"
            multiple="multiple"
            {% if properties.events %}
                {% for key, value in properties.events %}
                     {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                   'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                   'onkeydown', 'onblur'] %}
                         {{ key }} = "{{ value }}"
                     {% endif %}
                {% endfor %}
            {% endif %}>
        {% for key, value in blockValue %}
            {% if value is not empty %}
                <option value="{{ value|trim }}" selected="selected">{{ value|trim }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="hidden" id="{{ blockID }}" name="{{ blockName }}" value="{{ blockValue|join(',') }}">
    {% if properties.properties.help %}
        <small>{{ include(template_from_string(properties.properties.help)) }}</small>
    {% endif %}
</div>
