{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% if properties.layout %}
<div class="{{ properties.layout.class }}
            {{ grid.col(properties.layout.size, properties.layout.grid) }}" 
            {% if properties.layout.style %}style="{% for key, value in properties.layout.style %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"{% endif %}>
{% endif %}
        {% if properties.properties.label %}
            <label for="{{ blockID }}" 
                   class="form-label {{ properties.properties.label.class }}"
                   {% if properties.properties.label.style %}style="{% for key, value in properties.properties.label.style %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"{% endif %}>{{ include(template_from_string(properties.properties.label.title)) }}</label>
        {% endif %}
    <input type="text"
           id="{{ blockID }}"
           name="{{ blockName }}"
           value="{{ blockValue|date(flextype.registry.get('flextype.settings.date_display_format')) }}"
           class="form-control flatpickr js-datetimepicker {{ properties.properties.class }}"
           {% if properties.properties.placeholder %}placeholder="{{ properties.properties.placeholder }}"{% endif %}
           {% if properties.properties.readonly %}readonly="readonly"{% endif %}
           {% if properties.properties.style %}style="{% for key, value in properties.properties.label.style %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"{% endif %}
           {% if properties.events %}
               {% for key, value in properties.events %}
                    {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                  'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                  'onkeydown', 'onblur'] %}
                        {{ key }} = "{{ value }}"
                    {% endif %}
               {% endfor %}
           {% endif %}>
    {% if properties.poperties.help %}
        <small>{{ include(template_from_string(properties.properties.help)) }}</small>
    {% endif %}

    {% if flextype.registry.get('flextype.settings.locale') == 'en_US' %}
        {% set flatpickrLocale = 'en' %}
    {% else %}
        {% set flatpickrLocale = flextype.registry.get('flextype.settings.locale')|lower|slice(0, 2) %}
    {% endif %}

    <input type="hidden" name="flatpickr-date-format" value="{{ flextype.registry.get('flextype.settings.date_format') }}">
    <input type="hidden" name="flatpickr-locale" value="{{ flatpickrLocale }}">
{% if properties.layout %}
</div>
{% endif %}