{% import "plugins/blueprint/blocks/macros/grid.html" as grid %}
{% set media_files = filesystem().find().depth(0).in(PATH_PROJECT ~ '/media/entries/' ~ query.id ~ '/').files() %}
<div class="mb-3 {{ grid.col(properties.size, properties.grid) }}">
    <label for="{{ field_id }}" class="form-label">{{ include(template_from_string(properties.title)) }}</label>
    <select class="form-control {{ properties.class }} js-select-media"
            name="{{ field_name }}"
            {% if properties.events %}
                {% for key, value in properties.events %}
                     {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                   'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                   'onkeydown', 'onblur'] %}
                         {{ key }} = "{{ value }}"
                     {% endif %}
                {% endfor %}
            {% endif %}>
        {% for media_file in media_files %}
            {% if media_file.getExtension() in flextype.registry.get('plugins.admin.settings.entries.media.accept_file_types') %}
                <option value="{{ media_file.getFilename() }}" {% if media_file.getFilename() == field_value %} selected="selected" {% endif %}>{{ query.id ~ '/' ~ media_file.getFilename() }}</option>
            {% endif %}
        {% endfor %}
    </select>
    {% if properties.help %}
        <small>{{ __(properties.help)}}</small>
    {% endif %}
</div>
