{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}

{% set blockVisible = true %}
{% if arrays(block).has('properties.visible') %}
    {% if block.properties.visible is string %}
        {% set blockVisible = strings(block.properties.visible).toBoolean() %}
    {% else %}
        {% set blockVisible = block.properties.visible %}
    {% endif %}
{% endif %}

{% if blockVisible %}
    {% if block.properties.wrapper %}
        <{{ block.properties.wrapper }} 
            {{ attr.id(block.properties.id) }}
            {{ attr.class([block.properties.class]) }}
            {{ attr.data(block.properties.data) }}
            {{ attr.style(block.properties.style) }}
          >{{ block.properties.value|raw }}</{{ block.properties.wrapper }}>
    {% else %}
        {{ block.properties.value|raw }}
    {% endif %}
{% endif %}