{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% macro anchor(properties, blockID) %}
{% apply spaceless %}
<a id="{{ blockID }}"
        {% if properties.properties.style %}style="{% for key, value in properties.properties.style %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"{% endif %}
        href="{{ properties.properties.href }}"
        {% if properties.properties.newTab %}target="_blank"{% endif %}
        {% if properties.events %}
                {% for key, value in properties.events %}
                        {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                'onkeydown', 'onblur'] %}
                        {{ key }} = "{{ value }}"
                        {% endif %}
                {% endfor %}
        {% endif %}>{{ include(template_from_string(properties.properties.title)) }}</a>
{% endapply %}
{% endmacro %}
<div class="{{ properties.layout.class }} {{ grid.col(properties.layout.size, properties.layout.grid) }}" 
     {% if properties.layout.style %}style="{% for key, value in properties.layout.style %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"{% endif %}>
    {% if properties.items %}
        {% for key, value in properties.items %}
            {{ _self.anchor(value, flextype.blueprints.getElementID(key, value.id)) }}
        {% endfor %}
    {% else %}
        {{ _self.anchor(properties) }}
    {% endif %}
</div>
