{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
<div class="{{ properties.layout.class }}
            {{ grid.col(properties.layout.size, properties.layout.grid) }}" 
            {% if properties.layout.style %}style="{% for key, value in properties.layout.style %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"{% endif %}>
    {% if properties.properties.label %}
        <label for="{{ blockID }}" 
               class="form-label {{ properties.properties.label.class }}"
               {% if properties.properties.label.style %}style="{% for key, value in properties.properties.label.style %}{{ strings(key).kebab() }}: {{ value }}; {% endfor %}"{% endif %}>{{ include(template_from_string(properties.properties.label.title)) }}</label>
    {% endif %}
    <textarea id="{{ blockID }}"
              name="{{ blockName }}"
              rows="0"
              cols="0"
              class="js-html-editor form-control {{ properties.class }}"
              {% if properties.events %}
                  {% for key, value in properties.events %}
                       {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                     'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                     'onkeydown', 'onblur'] %}
                           {{ key }} = "{{ value }}"
                       {% endif %}
                  {% endfor %}
              {% endif %}>{{ include(template_from_string(blockValue)) }}</textarea>
    {% if properties.properties.help %}
        <small>{{ __(properties.properties.help)}}</small>
    {% endif %}

    {% if flextype.registry.get('flextype.settings.locale') == 'en_US' %}
        {% set trumbowygLocale = 'en' %}
    {% else %}
        {% set trumbowygLocale = flextype.registry.get('flextype.settings.locale')|lower|slice(0, 2) %}
    {% endif %}

    <input type="hidden" name="trumbowyg-icons-path" value="{{ url() }}/project/plugins/blueprints/assets/dist/fonts/trumbowyg/icons.svg">
    <input type="hidden" name="trumbowyg-locale" value="{{ trumbowygLocale }}">
</div>
