{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% if properties.layout %}
<div {{ attr.class([properties.layout.class, grid.col(properties.layout.size, properties.layout.grid)]) }}
    {{ attr.data(properties.layout.data) }}
    {{ attr.style(properties.layout.style) }}>
{% endif %}
{% set btnSizes = {'large': 'btn-lg', 'small': 'btn-sm'} %}
{% set btnTypes = {'primary': 'primary',
                    'secondary': 'secondary',
                    'success': 'success',
                    'info': 'info',
                    'warning': 'warning',
                    'danger': 'danger',
                    'link': 'link'} %}
{% if properties.properties.type %}
    {% if properties.properties.outline %}{% set outline = "outline-" %}{% endif %}
    {% set btnType = "btn-" ~ outline ~ btnTypes[properties.properties.type] %}
{% else %}
    {% if properties.properties.outline %}{% set outline = "outline-" %}{% endif %}
    {% set btnType = "btn-" ~ outline ~ "primary" %}
{% endif %} 
<input 
    type="{% block type %}submit{% endblock %}"
    {{ attr.id(blockID) }}
    {{ attr.value(properties.properties.title) }}
    {{ attr.class(['btn', btnType, btnSizes[properties.properties.size], properties.properties.class]) }}
    {{ attr.data(properties.properties.data) }}
    {{ attr.style(properties.properties.style) }} 
    {{ attr.disabled(properties.properties.disabled) }}
    {{ attr.events(properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                        'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                        'onkeydown', 'onblur']) }}>
{% if properties.layout %}
</div>
{% endif %}