{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% set btnSizes = {'large': 'btn-lg', 'small': 'btn-sm'} %}
{% set btnTypes = {'primary': 'primary',
                    'secondary': 'secondary',
                    'success': 'success',
                    'info': 'info',
                    'warning': 'warning',
                    'danger': 'danger',
                    'link': 'link'} %}
{% if block.properties.type %}
    {% if block.properties.outline %}{% set outline = "outline-" %}{% endif %}
    {% set btnType = "btn-" ~ outline ~ btnTypes[block.properties.type] %}
{% else %}
    {% if block.properties.outline %}{% set outline = "outline-" %}{% endif %}
    {% set btnType = "btn-" ~ outline ~ "primary" %}
{% endif %} 
{% set blockVisible = true %}
{% if arrays(block).has('properties.visible') %}
    {% if block.properties.visible is string %}
        {% set blockVisible = strings(block.properties.visible).toBoolean() %}
    {% else %}
        {% set blockVisible = block.properties.visible %}
    {% endif %}
{% endif %} 
{% if blockVisible %} 
    <input
        type="{% block type %}submit{% endblock %}"
        {{ attr.id(block.properties.id) }}
        {{ attr.name(block.properties.name) }}
        value="{{ block.properties.value }}"
        {{ attr.class(['btn', btnType, btnSizes[block.properties.size], block.properties.class]) }}
        {{ attr.data(block.properties.data) }}
        {{ attr.style(block.properties.style) }} 
        {{ attr.disabled(block.properties.disabled) }}
        {{ attr.events(block.properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                            'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                            'onkeydown', 'onblur']) }}>
{% endif %}