{% macro class(items) %}
{% apply spaceless %}
    {% if items|length > 0 %}
        class = "{% for class in items %}{{ class ? class|raw }}{{ items|length > 1 and not loop.last ? ' ' : ''}}{% endfor %}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro style(items) %}
{% apply spaceless %}
    {% if items|length > 0 %}
        style="{% for key, value in items %}{{ strings(key).kebab() }}: {{ value|raw }};{{ items|length > 1 and not loop.last ? ' ' : ''}}{% endfor %}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro data(items) %}
{% apply spaceless %}
    {% if items|length > 0 %}
        {% for key, value in items %}data-{{ strings(key).kebab() }} = "{{ value|raw }}" {% endfor %}
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro href(value) %}
{% apply spaceless %}
    {% if link %}href="{{ value|raw }}"{% endif %}
{% endapply %}
{% endmacro %}

{% macro target(value) %}
{% apply spaceless %}
    {% if value %}target="{{ value|raw }}"{% endif %}
{% endapply %}
{% endmacro %}

{% macro events(items, events) %}
{% apply spaceless %}
    {% if items|length > 0 %}
        {% for key, value in items %}
            {% if key in events %}
                {{ key }} = "{{ value|raw }}"
            {% endif %}
        {% endfor %}
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro id(value) %}
{% apply spaceless %}
    {% if value %}
        id = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro name(value) %}
{% apply spaceless %}
    {% if value %}
        name = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro disabled(value) %}
{% apply spaceless %}
    {% if value %}
        disabled = "disabled"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro loading(value) %}
{% apply spaceless %}
    {% if value %}
        loading = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro width(value) %}
{% apply spaceless %}
    {% if value %}
        width = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro height(value) %}
{% apply spaceless %}
    {% if value %}
        height = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro alt(value) %}
{% apply spaceless %}
    {% if value %}
        alt = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro src(value) %}
{% apply spaceless %}
    {% if value %}
        src = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro readonly(value) %}
{% apply spaceless %}
    {% if value %}
        readonly = "readonly"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro placeholder(value) %}
{% apply spaceless %}
    {% if value %}
        placeholder = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro value(value) %}
{% apply spaceless %}
    {% if value %}
        value = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro validation(validation) %}
{% apply spaceless %}
    {% if validation %}
        {% if validation.error_message %}data-parsley-error-message="{{ validation.error_message|raw }}"{% endif %}
        {% if validation.equalto %}data-parsley-equalto="{{ validation.equalto|raw }}"{% endif %}
        {% if validation.range %}data-parsley-range="{{ validation.range|raw }}"{% endif %}
        {% if validation.max %}data-parsley-max="{{ validation.max|raw }}"{% endif %}
        {% if validation.min %}data-parsley-min="{{ validation.min|raw }}"{% endif %}
        {% if validation.length %}data-parsley-length="{{ validation.length|raw }}"{% endif %}
        {% if validation.maxlength %}data-parsley-maxlength="{{ validation.maxlength|raw }}"{% endif %}
        {% if validation.minlength %}data-parsley-minlength="{{ validation.minlength|raw }}"{% endif %}
        {% if validation.type %}data-parsley-type="{{ validation.type|raw }}"{% endif %}
        {% if validation.required %}data-parsley-required="true"{% endif %}
        {% if validation.pattern %}data-parsley-pattern="{{ validation.pattern|raw }}"{% endif %}
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro min(value) %}
{% apply spaceless %}
    {% if value %}
        min = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro max(value) %}
{% apply spaceless %}
    {% if value %}
        max = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro step(value) %}
{% apply spaceless %}
    {% if value %}
        step = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro rows(value) %}
{% apply spaceless %}
    {% if value %}
        rows = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro cols(value) %}
{% apply spaceless %}
    {% if value %}
        cols = "{{ value|raw }}"
    {% endif %}
{% endapply %}
{% endmacro %}