{% macro class(items) %}
{% apply spaceless %}
    {% if items|length > 0 %}
        class = "{% for class in items %}{{ class ? class }}{{ items|length > 1 and not loop.last ? ' ' : ''}}{% endfor %}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro data(items) %}
{% apply spaceless %}
    {% for key, value in items %}data-{{ strings(key).kebab() }} = "{{ value }}" {% endfor %}
{% endapply %}
{% endmacro %}

{% macro style(items) %}
{% apply spaceless %}
    {% if items|length > 0 %}
        style="{% for key, value in items %}{{ strings(key).kebab() }}: {{ value }};{{ items|length > 1 and not loop.last ? ' ' : ''}}{% endfor %}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro data(items) %}
{% apply spaceless %}
    {% if items|length > 0 %}
        {% for key, value in items %}data-{{ strings(key).kebab() }} = "{{ value }}" {% endfor %}
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro href(link) %}
{% apply spaceless %}
    {% if link %}href="{{ link }}"{% endif %}
{% endapply %}
{% endmacro %}

{% macro target(target) %}
{% apply spaceless %}
    {% if target %}target="{{ target }}"{% endif %}
{% endapply %}
{% endmacro %}

{% macro events(items, events) %}
{% apply spaceless %}
    {% if items|length > 0 %}
        {% for key, value in items %}
            {% if key in events %}
                {{ key }} = "{{ value }}"
            {% endif %}
        {% endfor %}
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro id(value) %}
{% apply spaceless %}
    {% if value %}
        id = "{{ value }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro name(value) %}
{% apply spaceless %}
    {% if value %}
        name = "{{ value }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro disabled(disabled) %}
{% apply spaceless %}
    {% if disabled %}
        disabled = "disabled"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro loading(loading) %}
{% apply spaceless %}
    {% if loading %}
        loading = "{{ loading }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro width(width) %}
{% apply spaceless %}
    {% if width %}
        width = "{{ width }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro height(height) %}
{% apply spaceless %}
    {% if height %}
        height = "{{ height }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro alt(alt) %}
{% apply spaceless %}
    {% if alt %}
        alt = "{{ include(template_from_string(alt)) }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro src(src) %}
{% apply spaceless %}
    {% if src %}
        src = "{{ src }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro readonly(readonly) %}
{% apply spaceless %}
    {% if readonly %}
        readonly = "readonly"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro placeholder(placeholder) %}
{% apply spaceless %}
    {% if placeholder %}
        placeholder = "{{ include(template_from_string(placeholder)) }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro value(value) %}
{% apply spaceless %}
    {% if value %}
        value = "{{ include(template_from_string(value)) }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro validation(validation) %}
{% apply spaceless %}
    {% if validation %}
        {% if validation.error_message %}data-parsley-error-message="{{ include(template_from_string(validation.error_message)) }}"{% endif %}
        {% if validation.equalto %}data-parsley-equalto="{{ validation.equalto }}"{% endif %}
        {% if validation.range %}data-parsley-range="{{ validation.range }}"{% endif %}
        {% if validation.max %}data-parsley-max="{{ validation.max }}"{% endif %}
        {% if validation.min %}data-parsley-min="{{ validation.min }}"{% endif %}
        {% if validation.length %}data-parsley-length="{{ validation.length }}"{% endif %}
        {% if validation.maxlength %}data-parsley-maxlength="{{ validation.maxlength }}"{% endif %}
        {% if validation.minlength %}data-parsley-minlength="{{ validation.minlength }}"{% endif %}
        {% if validation.type %}data-parsley-type="{{ validation.type }}"{% endif %}
        {% if validation.required %}data-parsley-required="true"{% endif %}
        {% if validation.pattern %}data-parsley-pattern="{{ validation.pattern }}"{% endif %}
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro min(value) %}
{% apply spaceless %}
    {% if value %}
        min = "{{ value }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro max(value) %}
{% apply spaceless %}
    {% if value %}
        max = "{{ value }}"
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro step(value) %}
{% apply spaceless %}
    {% if value %}
        step = "{{ value }}"
    {% endif %}
{% endapply %}
{% endmacro %}