{% macro col(size, breakpoint) %}
{% apply spaceless %}
    {% set colSize =
        {
            '1/12':  'col-{breakpoint}-1',
            '2/12':  'col-{breakpoint}-2',
            '3/12':  'col-{breakpoint}-3',
            '4/12':  'col-{breakpoint}-4',
            '5/12':  'col-{breakpoint}-5',
            '6/12':  'col-{breakpoint}-6',
            '7/12':  'col-{breakpoint}-7',
            '8/12':  'col-{breakpoint}-8',
            '9/12':  'col-{breakpoint}-9',
            '10/12': 'col-{breakpoint}-10',
            '11/12': 'col-{breakpoint}-12',
            '12/12': 'col-{breakpoint}-12',
            '12':    'col-{breakpoint}-12',
            'full':  'col-{breakpoint}-12',
         }
    %}

    {% set colBreakpointOptions =
        {
            'extra small':       'xs',
            'small':             'sm',
            'medium':            'md',
            'large':             'lg',
            'extra large':       'xl',
            'extra extra large': 'xxl',
         }
    %}

    {% if size not in colSize|keys %}{% set size = 12 %}{% endif %}
    {% if breakpoint not in colBreakpointOptions|keys %}{% set breakpoint = 'medium' %}{% endif %}

    {{ colSize[size]|replace({'{breakpoint}': colBreakpointOptions[breakpoint] }) }}
{% endapply %}
{% endmacro %}
