{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}  
{% set blockVisible = true %}
{% if arrays(block).has('properties.visible') %}
    {% if block.properties.visible is string %}
        {% set blockVisible = strings(block.properties.visible).toBoolean() %}
    {% else %}
        {% set blockVisible = block.properties.visible %}
    {% endif %}
{% endif %} 
{% if blockVisible %} 
    {% if block.properties.label %}
        <label for="{{ block.properties.id }}" 
            {{ attr.class(['form-label', block.properties.label.class]) }}
            {{ attr.style(block.properties.label.style) }}>{{ block.properties.label.value }}</label>
    {% endif %} 
    <select {{ attr.id(block.properties.id) }}
            {{ attr.name(block.properties.name) }}
            {{ attr.class(['form-control', block.properties.class]) }}
            {{ attr.data(block.properties.data) }}
            {{ attr.style(block.properties.style) }}
            {{ attr.disabled(block.properties.disabled) }} 
            {{ attr.events(block.properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                                'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                                'onkeydown', 'onblur']) }}>

        {% if block.properties.items %}
            {% if block.properties.items is iterable %}
                {% set items = block.properties.items %}
            {% else %}
                {% set items = serializers().json.decode(raw(include(template_from_string(block.properties.items)))) %}
            {% endif %}
        {% endif %}

        {% for key, value in items %}
        <option value="{{ key }}" 
                {{ attr.selected(key, properties.name, values, properties.value) }}>{{ value }}</option>
        {% endfor %}
    </select>
    {% if block.properties.help %}
        <small>{{ block.properties.help }}</small>
    {% endif %}
{% endif %}