{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% if properties.layout %}
<div {{ attr.class([properties.layout.class, grid.col(properties.layout.size, properties.layout.grid)]) }}
    {{ attr.data(properties.layout.data) }}
    {{ attr.style(properties.layout.style) }}>
{% endif %}    
    {% if properties.properties.label %}
        <label for="{{ blockID }}" 
            {{ attr.class(['form-label', properties.properties.label.class]) }}
            {{ attr.style(properties.properties.label.style) }}>{{ include(template_from_string(properties.properties.label.title)) }}</label>
    {% endif %} 
    <select {{ attr.id(blockID) }}
            {{ attr.name(blockName) }}
            {{ attr.class(['form-control', 'js-select', properties.properties.class]) }}
            {{ attr.data(properties.properties.data) }}
            {{ attr.style(properties.properties.style) }} 
            {{ attr.events(properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                                'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                                'onkeydown', 'onblur']) }}>

        {% if properties.properties.options is iterable %}
            {% set options = properties.properties.options %}
        {% else %}
            {% set options = flextype.serializers.json.decode(raw(include(template_from_string(properties.properties.options)))) %}
        {% endif %}

        {% for key, value in options %}
            <option value="{{ key }}" {% if key == blockValue %} selected="selected" {% endif %}>{{ include(template_from_string(value)) }}</option>
        {% endfor %}
    </select>
    {% if properties.properties.help %}
        <small>{{ include(template_from_string(properties.properties.help)) }}</small>
    {% endif %}
{% if properties.layout %}
</div>
{% endif %}