{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}

<div class="mb-3 {{ grid.col(properties.size, properties.grid) }}">
    <label for="{{ blockID }}" class="form-label">{{ include(template_from_string(properties.title)) }}</label>

    <select class="form-control {{ properties.class }} js-select"
            name="{{ fieldName }}"
            {% if properties.events %}
                {% for key, value in properties.events %}
                     {% if key in ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                   'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                   'onkeydown', 'onblur'] %}
                         {{ key }} = "{{ value }}"
                     {% endif %}
                {% endfor %}
            {% endif %}>

        {% if properties.options is iterable %}
            {% set options = properties.options %}
        {% else %}
            {% set options = flextype.serializers.json.decode(raw(include(template_from_string(properties.options)))) %}
        {% endif %}

        {% for key, value in options %}
            <option value="{{ key }}" {% if key == blockValue %} selected="selected" {% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
    {% if properties.help %}
        <small>{{ include(template_from_string(properties.help)) }}</small>
    {% endif %}
</div>
