input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance:none;
}

.select2-container
{
  outline: none;
  display: block;
}

.select2-dropdown
{
    width: 100%;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: $gray-400;
    color: $primary;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: $primary;
}

.select2-container--open .select2-dropdown,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-color: $primary;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent $primary;
}


.select2-container--classic .select2-selection--single .select2-selection__arrow b,
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: $gray-400 transparent transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}

.select2-container .select2-selection--single {
    height: 34px;
    border-radius: $border-radius;
    border-color: $gray-400
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container .select2-selection--single:focus {
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $primary;
    line-height: 34px;
}
