{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
<div {{ include(template_from_string(attr.class([block.properties.class, grid.col(block.properties.size, block.properties.breakpoint)]))) }}
    {{ include(template_from_string(attr.data(block.properties.data))) }}
    {{ include(template_from_string(attr.style(block.properties.style))) }}>
    {% for block in block.blocks %}
        {% if block.type in blocks|keys %}
            {% include blocks[block.type]['template'] %}
        {% endif %}
    {% endfor %}
</div>
