{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% set blockVisible = true %}
{% if arrays(block).has('properties.visible') %}
    {% if block.properties.visible is string %}
        {% set blockVisible = strings(block.properties.visible).toBoolean() %}
    {% else %}
        {% set blockVisible = block.properties.visible %}
    {% endif %}
{% endif %}   
{% if blockVisible %}
    <form
        {{ attr.action(block.properties.action) }}
        {{ attr.method(block.properties.method) }}
        {{ attr.id(block.properties.id) }}
        {{ attr.data(block.properties.data) }}
        {{ attr.name(block.properties.name) }}
        {{ attr.class(['js-needs-validation', block.properties.class]) }}
        {{ attr.events(block.properties.events, ['onkeyup', 'onmousedown', 'onmousemove', 'onmouseout',
                                                                                'onmouseover', 'onmouseup', 'onkeypress', 'onclick', 'ondblclick',
                                                                                'onkeydown', 'onblur', 'onreset', 'onsubmit']) }}
        novalidate>
        {{ csrf() }}
        {% if block.properties.process %}
            <input 
                type="hidden"
                {{ attr.name(block.properties.name, '__form_process_') }}
                value="{{ serializers().json.encode(block.properties.process) }}">
            <input 
                type="hidden"
                {{ attr.name(block.properties.name, '__form_vars_') }}
                value="{{ serializers().json.encode(arrays(_context)
                                                            .delete('blocks')
                                                            .delete('_parent')
                                                            .delete('_key')
                                                            .delete('_seq')
                                                            .delete('loop')
                                                            .delete('PATH_PROJECT')
                                                            .delete('PHP_VERSION')
                                                            .delete('flextype')
                                                            .toArray()) }}">
        {% endif %}
        {% for block in block.blocks %}
            {% if block.type in blocks|keys %}
                {% include blocks[block.type]['template'] %}
            {% endif %}
        {% endfor %}
    </form>
{% endif %}