{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% if properties.layout %}
{% if properties.properties.dashed %}
    {% set dashed = "divider--dashed" %}
{% else %}
    {% set dashed = null %}
{% endif %}
<div {{ attr.class(properties.layout.class, grid.col(properties.layout.size, properties.layout.grid)) }}
    {{ attr.data(properties.layout.data) }}
    {{ attr.style(properties.layout.style) }}>
{% endif %}
    <div {{ attr.id(properties.properties.id) }} 
        {{ attr.data(properties.properties.data) }}
        {{ attr.style(properties.properties.style) }} 
        {{ attr.class('divider', properties.properties.class, dashed) }}></div>
{% if properties.layout %}
</div>
{% endif %}
