{% import "plugins/blueprints/blocks/macros/grid.html" as grid %}
{% import "plugins/blueprints/blocks/macros/attr.html" as attr %}
{% if properties.layout %}
{% if block.properties.dashed %}
    {% set dashed = "divider--dashed" %}
{% else %}
    {% set dashed = null %}
{% endif %}
<div {{ include(template_from_string(attr.id(block.properties.id))) }} 
    {{ include(template_from_string(attr.data(block.properties.data))) }}
    {{ include(template_from_string(attr.style(block.properties.style))) }} 
    {{ include(template_from_string(attr.class('divider', block.properties.class, dashed))) }}></div>

